{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body_classes %}{{ parent() }} bg-gradient-primary{% endblock %}

{% block body %}
    <div class="container">

        <!-- Outer Row -->
        <div class="row justify-content-center">

            <div class="col-xl-10 col-lg-12 col-md-9">

                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->
                        <div class="row">
                            <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
                            <div class="col-lg-6">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-4">Welcome!</h1>
                                    </div>
                                    {{ form_start(form, { attr: { class: 'user' } }) }}
                                    {{ form_errors(form) }}
                                    <div class="form-group">
                                        {{ form_widget(form.email, { attr: { class: 'form-control-user' } }) }}
                                        {{ form_errors(form.email) }}
                                    </div>
                                    <div class="form-group">
                                        {{ form_widget(form.password.first, { attr: { class: 'form-control-user' } }) }}
                                        {{ form_errors(form.password) }}
                                        {{ form_errors(form.password.first) }}
                                    </div>
                                    <div class="form-group">
                                        {{ form_widget(form.password.second, { attr: { class: 'form-control-user' } }) }}
                                        {{ form_errors(form.password.second) }}
                                    </div>
                                    {{ form_widget(form.submit, { attr: { class: 'btn btn-primary btn-user btn-block' } }) }}
                                    {{ form_end(form) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>
{% endblock %}